.page {
    min-width: 320px;
    font-family: 'Unbounded','Inter', 'Arial', sans-serif;
    background: rgb(241, 241, 241);

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%; 
}


