.contacts__text_s {
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    margin: 0 0 8px;
}

@media (min-width: 768px) {
    .contacts__text_s {
        font-size: 16px;
        max-width: 720px;
    }
}

@media (min-width: 1024px) {
    .contacts__text_s {
        max-width: 690px;
    }
}