.header {
    display: flex;
    min-width: 288px;
    margin: 0 10px;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) {
    .header {
        min-width: 720px;
        margin: 0 24px 0 30px;
    }
}

@media (min-width: 1024px) {
    .header {
        min-width: 928px;
        margin: 0 48px;
    }
}

@media (min-width: 1280px) {
    .header {
        max-width: 1184px;
        margin: 0 auto;
    }
}
