.header__link {
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    color: rgb(0, 0, 0);
    margin: 8px 0px 8px 18px;
    text-decoration-line: none;
}

@media (min-width: 768px) {
    .header__link {
        font-size: 18px;
        line-height: 20px;
        margin: 0 0 0 28px;
    }
}

@media (min-width: 1024px) {
    .header__link {
        font-size: 24px;
        line-height: 28px;
        margin: 0 0 0 28px;
    }
}

.header__link:hover {
    opacity: 0.8;
    transition: 300ms;
}
