.schedule__day {
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    margin: 0;
}

@media (min-width: 768px) {
    .schedule__day {
        font-weight: 300;
        max-width: 720px;
        font-size: 34px;
        line-height: 42px;
        border-bottom: 1px solid rgb(0, 0, 0);
    }
}

@media (min-width: 1024px) {
    .schedule__day {
        max-width: 690px;
        font-size: 36px;
        line-height: 60px;
    }
}