.photo-grid__title {
    font-weight: 300;
    font-size: 32px;
    line-height: 64px;
    margin: 0 16px 24px;
    border-bottom: 1px solid rgb(0, 0, 0);
    text-align: center;
    text-rendering: optimizeLegibility;
}

@media (min-width: 768px) {
    .photo-grid__title {
        text-align: end;
        font-size: 34px;
        line-height: 64px;
        margin: 0 24px 48px;
        grid-area: title;
    }
}

@media (min-width: 1024px) {
    .photo-grid__title {
        font-size: 54px;
        line-height: 104px;
    }
}

@media (min-width: 1280px) {
    .photo-grid__title {
        font-size: 54px;
        line-height: 104px;
        margin: 0 0 32px;
    }
}