.footer__copyright {
    font-weight: 300;
    font-size: 12px;
    line-height: 1;
    margin: 0;
    align-self: center;
}

@media (min-width: 768px) {
    .footer__copyright {
        font-size: 12px;
        line-height: 18px;
        margin: 0;
    }
}

@media (min-width: 1024px) {
    .footer__copyright {
        font-weight: 300;
        font-size: 14px;
        line-height: 1;
        margin: 0;
        align-self: center;
    }
}